.block
  .content
    %h2.title Twitter Zombie
    .inner
      - if @twitter
      
        = "Welcome #{@name} - @#{@account}"
        = link_to "Sign Out", signout_path
        
        %h4 Current Followees
        = form_tag unfollow_path do
          = will_paginate @friends
          %ul.friends
            - unless @friends.empty?
              - @friends.each do |friend|
                %li
                  = check_box_tag "friend_ids[]", friend.screen_name
                  = friend.screen_name
          = submit_tag "Unfollow"
          
        %h4 Search and follow interesting people
        = form_tag search_path, :remote=>true, :method => :get do
          = text_field_tag :search, params[:search]
          = submit_tag "Search"
          
        %h5 Search results
        #search_results
      - else
        %p
          The application needs your permission to access your Twitter account. Please click the button below. 
        =link_to image_tag("https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-d.png"), signin_path
          
